.badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 700;
  display: inline-block;
}

/* Colores específicos para cada estado SEGUN EL REQ*/
.badge-recibida { background-color: #fef3c7; color: var(--color-primary); }
.badge-bodega { background-color: #dcfce7; color: var(--color-success); }
.badge-distribuida { background-color: #dbeafe; color: var(--color-dark); }